In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("Invistico_Airline.csv")

In [3]:
df

,satisfaction,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Seat comfort,Departure/Arrival time convenient,Food and drink,...,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,Departure Delay in Minutes,Arrival Delay in Minutes
0,satisfied,Female,Loyal Customer,65,Personal Travel,Eco,265,0,0,0,...,2,3,3,0,3,5,3,2,0,0.0
1,satisfied,Male,Loyal Customer,47,Personal Travel,Business,2464,0,0,0,...,2,3,4,4,4,2,3,2,310,305.0
2,satisfied,Female,Loyal Customer,15,Personal Travel,Eco,2138,0,0,0,...,2,2,3,3,4,4,4,2,0,0.0
3,satisfied,Female,Loyal Customer,60,Personal Travel,Eco,623,0,0,0,...,3,1,1,0,1,4,1,3,0,0.0
4,satisfied,Female,Loyal Customer,70,Personal Travel,Eco,354,0,0,0,...,4,2,2,0,2,4,2,5,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129875,satisfied,Female,disloyal Customer,29,Personal Travel,Eco,1731,5,5,5,...,2,2,3,3,4,4,4,2,0,0.0
129876,dissatisfied,Male,disloyal Customer,63,Personal Travel,Business,2087,2,3,2,...,1,3,2,3,3,1,2,1,174,172.0
129877,dissatisfied,Male,disloyal Customer,69,Personal Travel,Eco,2320,3,0,3,...,2,4,4,3,4,2,3,2,155,163.0
129878,dissatisfied,Male,disloyal Customer,66,Personal Travel,Eco,2450,3,2,3,...,2,3,3,2,3,2,1,2,193,205.0
129879,dissatisfied,Female,disloyal Customer,38,Personal Travel,Eco,4307,3,4,3,...,3,4,5,5,5,3,3,3,185,186.0

In [4]:
from sklearn.preprocessing import LabelEncoder,StandardScaler
encoder=LabelEncoder()
k=encoder.fit_transform(df["satisfaction"])
k=pd.Series(k)

In [5]:
newdf=df.iloc[:,9:21]

In [6]:
newdf["satisfaction"]=k

In [7]:
newdf

,Food and drink,Gate location,Inflight wifi service,Inflight entertainment,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,satisfaction
0,0,2,2,4,2,3,3,0,3,5,3,2,1
1,0,3,0,2,2,3,4,4,4,2,3,2,1
2,0,3,2,0,2,2,3,3,4,4,4,2,1
3,0,3,3,4,3,1,1,0,1,4,1,3,1
4,0,3,4,3,4,2,2,0,2,4,2,5,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129875,5,3,2,5,2,2,3,3,4,4,4,2,1
129876,2,4,2,1,1,3,2,3,3,1,2,1,0
129877,3,3,3,2,2,4,4,3,4,2,3,2,0
129878,3,2,3,2,2,3,3,2,3,2,1,2,0
129879,3,3,3,3,3,4,5,5,5,3,3,3,0

In [15]:
shortdf=newdf.iloc[0:129880:7]

In [16]:
shortdf

,Food and drink,Gate location,Inflight wifi service,Inflight entertainment,Online support,Ease of Online booking,On-board service,Leg room service,Baggage handling,Checkin service,Cleanliness,Online boarding,satisfaction
0,0,2,2,4,2,3,3,0,3,5,3,2,1
7,0,3,2,0,2,2,3,3,4,5,4,2,1
14,0,1,5,2,1,5,5,0,5,2,5,2,1
21,0,2,1,0,1,1,3,5,1,4,2,1,1
28,0,2,4,0,4,4,4,3,3,1,3,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129850,3,3,5,3,5,5,4,4,4,4,5,5,0
129857,4,2,5,4,2,5,3,3,3,3,4,5,0
129864,4,2,2,4,2,2,4,5,5,5,4,2,1
129871,5,3,2,5,2,2,4,5,4,4,3,2,1
129878,3,2,3,2,2,3,3,2,3,2,1,2,0

In [19]:
X=shortdf.iloc[:, :-1].values
y=shortdf.iloc[:, -1].values

In [20]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25,random_state=0)

In [21]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
x_test=sc.transform(X_test)

In [28]:
from sklearn.svm import SVC
clasifier=SVC(kernel="rbf",random_state=0)
clasifier.fit(X_train,y_train)

SVC(random_state=0)

In [29]:
y_pred=clasifier.predict(sc.transform(X_test))

In [30]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [31]:
confusion_matrix(y_test,y_pred)

array([[1763,  293],
       [ 233, 2350]], dtype=int64)

In [32]:
accuracy_score(y_test,y_pred)

0.886613494287562